services:
  shell:
    build: .
    platform: linux/amd64
    image: eemeter_shell
    stdin_open: true
    tty: true
    entrypoint: /bin/sh
    volumes:
      - .:/app

  docs:
    image: eemeter_shell
    stdin_open: true
    tty: true
    ports:
      - "127.0.0.1:${HOST_PORT_DOCS:-8000}:${HOST_PORT_DOCS:-8000}"
      - "[::1]:${HOST_PORT_DOCS:-8000}:${HOST_PORT_DOCS:-8000}"
    entrypoint: mkdocs serve -f docs/mkdocs.yml --dev-addr="0.0.0.0:${HOST_PORT_DOCS:-8000}"
    volumes:
      - .:/app

  test:
    image: eemeter_shell
    entrypoint: py.test -n0
    volumes:
      - .:/app
      - /app/tests/__pycache__/

  jupyter:
    image: eemeter_shell
    platform: linux/amd64
    stdin_open: true
    tty: true
    ports:
      - "127.0.0.1:${HOST_PORT_JUPYTER:-8888}:${HOST_PORT_JUPYTER:-8888}"
      - "[::1]:${HOST_PORT_JUPYTER:-8888}:${HOST_PORT_JUPYTER:-8888}"
    entrypoint: |
      jupyter lab scripts/ --ip=0.0.0.0 --port=${HOST_PORT_JUPYTER:-8888} --allow-root --no-browser
    volumes:
      - .:/app

  uv:
    image: eemeter_shell
    entrypoint: uv
    volumes:
      - .:/app

  blacken:
    image: eemeter_shell
    entrypoint: black .
    volumes:
      - .:/app
